<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        The public transport Open Data Platform provides customer information about the whole public transport
        network in Switzerland as Open Data. Further there are information from the Federal Office of Transport,
        which are directly related.
      {% endtrans %}
    </p>
  </div>
</div>