{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

<ul class="media-grid">
    {% for organization in organizations %}
    {% snippet "organization/snippets/organization_item.html", organization=organization %}
    {% endfor %}
</ul>
#}
{% ckan_extends %}
{% block title %}
<h2 class="media-heading">{{ h.parse_and_localize(organization.display_name) }}</h2>
{% endblock %}
{% block description %}
{% if organization.description %}
{% set description = h.parse_and_localize(organization.description) %}
<p class="media-description">{{ h.markdown_extract(description, 80) }}</p>
{% endif %}
{% endblock %}