{% ckan_extends %}
{% set dataset_type = h.default_package_type() %}

{% block heading %}
<h1 class="heading">
  {{ h.parse_and_localize(group.title) }}
  {% if group.state == 'deleted' %}
    [{{ _('Deleted') }}]
  {% endif %}
</h1>
{% endblock %}

{% block description %}
  {% set description = h.parse_and_localize(group.description) %}
  {% if description %}
    <p class="description">
      {{ h.markdown_extract(description, 180) }}
    </p>
    <p class="read-more">
      {% link_for _('read more'), named_route='group.about', id=group.name %}
    </p>
  {% endif %}
{% endblock %}
