{% ckan_extends %}

{% block head_extras -%}
  <!-- This is copied from templates/base.html because we can't use super() here: the ckan core package/resource_read.html head_extras block can't handle our multilingual dict for resource description -->
  {{ g.template_head_end | safe }}

  {% set description = h.markdown_extract(h.parse_and_localize(res['description']), extract_length=200) if res.description else h.markdown_extract(h.parse_and_localize(package['description']), extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block resource_content %}
  {% block resource_read_title %}<h1 class="page-heading" title="{{ h.resource_display_name(res) }}">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
  {% block resource_read_url %}
    {% if res.url and h.is_url(res.url) %}
      <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description %}
      {{ h.render_markdown(h.parse_and_localize(res.description)) }}
    {% endif %}
    {% if not res.description and package.description %}
      <h3>{{ _('Dataset description:') }}</h3>
      <blockquote>{{ h.markdown_extract(h.parse_and_localize(package['description'])) }}</blockquote>
      <p>{% trans dataset=h.get_translated(package, 'title'), url=h.url_for(package.type ~ '.read', id=package.name) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
    {% endif %}
  </div>
{% endblock %}

{% block resource_additional_information_inner %}
  {% if res.datastore_active %}
    {% block resource_data_dictionary %}
      {% if g.userobj %}
        {% snippet 'datastore/snippets/dictionary_view.html',
          ddict=h.datastore_dictionary(res.id), res=res %}
      {% endif %}
    {% endblock %}
  {% endif %}

  <div class="module-content">
    {%- block additional_info_heading -%}<h2>{{ _('Additional Information') }}</h2>{%- endblock -%}
    <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
      {%- block additional_info_table_head -%}
        <thead>
          <tr>
            <th scope="col">{{ _('Field') }}</th>
            <th scope="col">{{ _('Value') }}</th>
          </tr>
        </thead>
      {%- endblock -%}
      <tbody>
        {%- block resource_last_updated -%}
        <tr>
          <th scope="row">{{ _('Data last updated') }}</th>
          <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_metadata_last_updated -%}
        <tr>
          <th scope="row">{{ _('Metadata last updated') }}</th>
          <td>{{ h.render_datetime(res.metadata_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_created -%}
        <tr>
          <th scope="row">{{ _('Created') }}</th>
          <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_format -%}
        <tr>
          <th scope="row">{{ _('Format') }}</th>
          <td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_license -%}
        <tr>
          <th scope="row">{{ _('License') }}</th>
          <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_fields -%}
          {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
                and field.display_snippet is not none -%}
              <tr>
                <th scope="row">
                  {{- h.scheming_language_text(field.label) -}}
                </th>
                <td>
                  {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
                </td>
              </tr>
            {%- endif -%}
          {%- endfor -%}
        {%- endblock -%}
        {%- block resource_more_items -%}
          {% for key, value in h.format_resource_items(res.items()) %}
            {% if key not in ('created', 'metadata modified', 'last modified', 'format') %}
              <tr class="toggle-more"><th scope="row">{{ key | capitalize }}</th><td>{{ value }}</td></tr>
            {% endif %}
          {% endfor %}
        {%- endblock -%}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block secondary_content %}

  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id, action='read' %}
  {% endblock %}

  {% block resource_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}
{% endblock %}
