{% extends "package/resource_read.html" %}

{%- set exclude_fields = [
    'name',
    'description',
    'title',
    'url',
    'issued',
    'download_url',
    'rights',
    'license',
    ] -%}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block resource_additional_information_inner %}
{%- set display_items = h.get_resource_display_items(res, exclude_fields, schema) -%}
  <div class="module-content">
    <h2>{{ _('Additional Information') }}</h2>
    <dl class="dl-horizontal">
      <dt class="dataset-label">{{ _('Permalink') }}</dt>
      <dd class="dataset-details">{% link_for _('Permalink'), named_route='ogdch_dataset.resource_permalink', id=pkg.name, filename=h.resource_filename(res.url) %}</dd>
      {% for key, field in display_items.items() %}
        {% set resource_helper = dict({key: field.value}) %}
        <dt class="dataset-label">{{- h.scheming_language_text(field.label) -}}</dt>
        <dd class="dataset-details">
            {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=resource_helper, schema=schema -%}
        </dd>
      {% endfor %}
    </dl>
  </div>
{% endblock %}
