{% extends "page.html" %}

{% block subtitle %}{{ _('Groups') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Data'), controller='group', action='index', named_route=group_type + '_index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block primary %}
  <div class="module-content">
    <div class="page_primary_action">
{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add Group'), controller='group', action='new', class_='btn btn-primary', icon='plus-square', named_route=group_type + '_new' %}
  {% endif %}
{% endblock %}
    </div>
    <h1 class="hide-heading">{{ _('Groups') }}</h1>
      {% block groups_list %}
        {% if page.items or request.params %}
          {% if page.items %}
            {% snippet "group/snippets/group_list.html", groups=page.items %}
          {% endif %}
        {% else %}
          <p class="empty">
            {{ _('There are currently no groups for this site') }}.
            {% if h.check_access('group_create') %}
              {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
            {% endif %}
          </p>
        {% endif %}
      {% endblock %}
      {% block page_pagination %}
        {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
      {% endblock %}
  </div>
{% endblock %}

{# hide the secondayr block since this creates a sidebar #}
{% block secondary %}
{% endblock %}
{% block secondary_content %}
   {#
        hide helper-sidebar
   #}
{% endblock %}
