{#
Renders the description of a package

pkg - A package object that the resources belong to.

Example:

{% snippet "package/snippets/description.html", pkg=pkg %}

#}
<section class="information">
  <div>
    {% if pkg.description %}
    <div>
      <div>
        <h2>{{ _('Description') }}</h2>
        <p class="dataset-description">{{ h.render_description(pkg) }}</p>
      </div>
    </div>
    {% endif %}
    <div>
      <dl>
        <dt>{{ _('Further information') }}</dt>
        <dd>
          {%- snippet 'scheming/display_snippets/relations.html', data=pkg, schema=schema -%}
        </dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt>{{ _('Last updated') }}</dt>
        <dd>
        {% if pkg.modified %}
          <span class="automatic-local-datetime" data-datetime="{{ h.render_datetime(pkg.modified, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
            {{ h.render_datetime(pkg.modified, with_hours=True)  }}
          </span>
        {% else %}
          -
        {% endif %}
        </dd>
      </dl>
    </div>
    <div>
    {% snippet "package/snippets/terms_of_use.html", pkg=pkg %}
    </div>
  </div>
</section>
