<tr>
  <th scope="row" class="dataset-label">{{ _('Terms of use') }}</th>
  <td class="dataset-details">
    {% if pkg.odpch_license_url %}
      {% if pkg.odpch_license_name %}
        <a href="{{ pkg.odpch_license_url }}">{{ pkg.odpch_license_name }}</a>
      {% else %}
        <a href="{{ pkg.odpch_license_url }}">{{ _('Terms of use') }}</a>
      {% endif %}
    {% else %}
      <a href="{{ h.url_for('/terms-of-use/') }}">{{ _('Terms of use opentransport.swiss') }}</a>
    {% endif %}
  </td>
</tr>
