<ul class="tag-list">
  {# sometimes only the keywords of the current language is in the dict, sometimes all languages #}
  {% if h.lang() in data[field.field_name] %}
    {% set keywords = data[field.field_name][h.lang()] %}
  {% else %}
    {% set keywords = data[field.field_name] %}
  {% endif %}
  {% for tag in keywords %}
    <li>
      <a class="{% block tag_list_item_class %}tag{% endblock %}" href="{%
        url_for 'dataset.search', tags=tag %}">{{
          h.truncate(tag, 22) }}</a>
    </li>
  {% endfor %}
</ul>
