{#
Renders the description of a package

pkg - A package object that the resources belong to.

Example:

{% snippet "package/snippets/description.html", pkg=pkg %}

#}
<section class="information">
  <div>
    {% if pkg.description %}
    <div>
      <div>
        <h2>{{ _('Description') }}</h2>
        <p>{{ h.get_localized_value(h.parse_json(pkg.description)) }}</p>
      </div>
    </div>
    {% endif %}
    <div>
      <dl>
        <dt>{{ _('Further information') }}</dt>
        <dd>
          {%- snippet 'scheming/display_snippets/relations.html', data=pkg, schema=schema -%}
        </dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt>{{ _('Last updated') }}</dt>
        <dd>
          {% set mod_date = pkg.modified or pkg.issued %}
          {% if not mod_date and pkg.resources and pkg.resources|length > 0 %}
            {% set mod_date = pkg.resources[0].issued %}
          {% endif %}
          {% if mod_date %}
            {{ h.render_datetime(mod_date, with_hours=False) }}
          {% else %}
            -
          {% endif %}
        </dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt>{{ _('Terms of use') }}</dt>
        <dd class="terms">
          <a href="{{ h.url('/terms-of-use/') }}">{{ _('Terms of use opentransport.swiss') }}</a>
        </dd>
      </dl>
    </div>
  </div>
</section>
