{#
Renders the description of a package

pkg - A package object that the resources belong to.

Example:

{% snippet "package/snippets/description.html", pkg=pkg %}

#}
<section class="container information">
  <div>
    <div>
      <dl>
        <dt>{{ _('Last updated') }}</dt>
        <dd>
          {% set mod_date = pkg.modified or pkg.issued %}
          {% if not mod_date and pkg.resources and pkg.resources|length > 0 %}
            {% set mod_date = pkg.resources[0].issued %}
          {% endif %}
          {% if mod_date %}
            {{ h.render_datetime(mod_date, with_hours=False) }}
          {% else %}
            -
          {% endif %}
        </dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt>{{ _('Terms of use') }}</dt>
        <dd class="terms">
          <a href="{{ h.url('/terms-of-use/') }}">{{ _('Terms of use opentransport.swiss') }}</a>
        </dd>
      </dl>
    </div>
    <div>
      <dl>
          <dt>{{ ungettext('Organization', 'Organizations', 1) }}</dt>
        <dd>
          {% if pkg.owner_org %}
          {% set organization = h.get_localized_org(pkg.owner_org) %}
          {% set url = h.url_for(controller='organization', action='read', id=organization.name) %}
          <a href="{{ url }}">{{ organization.title or organization.name }}</a>
          {% else %}
          {{ _('No organization available') }}
          {% endif %}
        </dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt>{{ _('Categories') }}</dt>
        <dd>
        {% if pkg.groups %}
          {% for group in pkg.groups %}
            {% set type = group.type or 'group' %}
            {% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
            <a href="{{ url }}" title="{{ _('View {name}').format(name=group.title) }}">{{ group.title }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          -
        {% endif %}
        </dd>
      </dl>
    </div>
  </div>
  {% if pkg.description %}
    <div>
      <div>
        <h2>{{ _('Description') }}</h2>
        <p>{{ pkg.description }}</p>
      </div>
    </div>
  {% endif %}
</section>
