{% ckan_extends %}

{% block body_extras %}
  {% set piwik_config = h.get_piwik_config() %}
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//{{ piwik_config.url }}/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', {{ piwik_config.site_id or 0 }}]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//{{ piwik_config.url }}/matomo.php?idsite={{ piwik_config.site_id or 0 }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->
{% endblock %}


{% block styles %}
  {# also update the version number in odpch-wp-theme/functions.php odpch_enqueue_scripts
     and in odpch-wp-theme/style.css #}
  <link rel="stylesheet" href="{{ c.wordpress_css }}">

{% endblock %}

{% block title %}
  {% set dummy=h.load_wordpress_templates() %}
  {%- block subtitle %}{% endblock -%}
  {%- if self.subtitle()|trim %} | {% endif -%}
  {{ c.wordpress_title }}
{% endblock %}
