{% ckan_extends %}

{% block footer_links %}
    <li><strong>{{ _('Rules of the game') }}</strong></li>
    <li><a href="https://opentransportdata.swiss/{{ _('en/terms-of-use') }}">{{ _('Terms of Use Open Data') }}</a></li>
    <li><a href="https://opentransportdata.swiss/{{ _('en/tac-fedro') }}">{{ _('Terms of Use FEDRO') }}</a></li>
    <li><a href="https://opentransportdata.swiss/{{ _('en/limits-and-costs') }}">{{ _('Limits and costs') }}</a></li>
    <li><a href="https://opentransportdata.swiss/{{ _('en/authorised-databases') }}">{{ _('Authorised databases') }}</a></li>
    <li><a href="https://opentransportdata.swiss/{{ _('en/privacy-notice') }}">{{ _('Data Privacy Statement') }}</a></li>
    <li><a class="ot-sdk-show-settings">{{ _('Cookie settings') }}</a></li>
{% endblock %}

{% block footer_links_ckan %}
{% endblock %}

{% block footer_attribution %}
    <ul class="list-unstyled">
        <li><strong>{{ _('About') }}</strong></li>
        <li><a href="https://opentransportdata.swiss/{{ _('en/imprint') }}">{{ _('Imprint') }}</a></li>
        <li><a href="https://opentransportdata.swiss/{{ _('en/contact') }}">{{ _('Contact') }}</a></li>
        <li><a href="https://opentransportdata.swiss/{{ _('en/newsletter') }}">{{ _('Newsletter') }}</a></li>
        <li><a href="{{ _('https://oev-info.ch') }}">{{ _('oev-info.ch') }}</a></li>
        <li><a href="https://status.opentransportdata.swiss/">{{ _('Operational status') }}</a></li>
    </ul>
{% endblock %}
