{% ckan_extends %}

{% block header_site_navigation_tabs %}
  {% set org_type = h.default_group_type('organization') %}
  {% set group_type = h.default_group_type('group') %}
  {% set showcase_route = 'showcase_blueprint.index' %}

  {% if c.userobj %}
    {{ h.build_nav_main(
      (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]),
      (org_type ~ '.index',
        h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
      (group_type ~ '.index',
        h.humanize_entity_type('group', group_type, 'main nav') or _('Groups'), ['group']),
      (showcase_route, _('Showcases')),
      ('harvest.search', _('Harvester')),
      ('home.about', _('About')) ) }}
  {% else %}
    {{ h.build_nav_main(
      (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]),
      (group_type ~ '.index',
        h.humanize_entity_type('group', group_type, 'main nav') or _('Groups'), ['group']),
      (showcase_route, _('Showcases')),
      ('home.about', _('About')) ) }}
  {% endif %}
{% endblock %}

{% block header_logo %}
  {% if g.site_logo %}
    <a class="logo" href="{{ h.get_wordpress_url() }}">
      <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
        aria-label="{{ _('Navigate to Home - {site_title}').format(site_title=g.site_title) }}"/>
    </a>
  {% else %}
    <h1>
      <a href="{{ h.get_wordpress_url() }}">{{ g.site_title }}</a>
    </h1>
    {% if g.site_description %}
      <h2>{{ g.site_description }}</h2>
    {% endif %}
  {% endif %}
{% endblock %}
