{% extends "page.html" %}



{% block primary_content_inner %}
  {% resource 'switzerland/1_vue.js' %}
  {% resource 'switzerland/2_search.js' %}

  <h1>{{ _('Search') }}</h1>

  <div id="app">
    <form class="form-inline" v-on:submit.prevent="search">
      <input type="text" class="form-control" id="search" v-model="searchTerm">
      <input type="submit" class="btn btn-default" value="{{ _('Search') }}">
    </form>

    {% raw %}
    <div v-show="currentSearchTerm" style="display: none">
      <h1>{{ pageResults.length }} pages found for "{{ currentSearchTerm }}"</h1>
      <div v-for="result in pageResults">
        <hr>
        <h3><a href="{{ result.link }}">{{ result.title }}</a></h3>
        <div>{{{ result.description }}}</div>
      </div>

      <h1>{{ datasetResults.length }} datasets found for "{{ currentSearchTerm }}"</h1>
      <div v-for="result in datasetResults">
        <hr>
        <h3><a href="{{ result.link }}">{{ result.title }}</a></h3>
        <div>{{ result.description }}</div>
      </div>
    </div>
    {% endraw %}
  </div>
{% endblock %}
