<!-- language selector and login/register -->
<div class="row">
  <div class="col-xs-12 header-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 left">
          {% if c.userobj %}
            {% if c.userobj.sysadmin %}
              <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}"
                 class="btn btn-link">
                <span class="text">{{ _('Sysadmin settings') }}</span>
              </a>
            {% endif %}
            <a href="/dashboard" class="btn btn-link" title="{{ _('Dashboard') }}">
              <span class="username">{{ c.userobj.display_name }}</span>
            </a>
            <a href="/logout" title="{{ _('Log out') }}" class="btn btn-link">
              <span class="text">{{ _('Log out') }}</span>
            </a>
          {% else %}
            <a href="/log-in" class="btn btn-link">{{ _('Log in') }}</a>
            <a href="/register" class="btn btn-link">{{ _('Register') }}</a>
          {% endif %}
        </div>
        <div class="col-xs-6 right text-right">
          <a href="#" class="btn btn-link">DE</a>
          <a href="#" class="btn btn-link">FR</a>
          <a href="#" class="btn btn-link">IT</a>
          <a href="#" class="btn btn-link">EN</a>
        </div>
      </div>
    </div>
  </div>

  <!-- title, search, pictograms -->
  <div class="col-xs-12 header-middle">
    <div class="container">
      <div class="row pictograms-search">
        <!-- pictograms -->
        <div class="col-sm-6">
          <a href="/"><img src="/content/themes/odpch-wp-theme/img/icons.png"></a>
        </div>

        <!-- search -->
        <div class="col-sm-6">
          <form action="/search" method="get">
            <div class="input-group search">
              <input type="text" class="form-control pull-right" placeholder="Search" name="q"/>
              <div class="input-group-btn">
                <button class="btn btn-info">
                  <span class="icon-search"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- title -->
      <div class="row">
        <div class="col-xs-12">
          <a href="/" class="title"><h1>Open Transport Data Platform</h1></a>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xs-12 header-bottom"></div>
</div>
