{% ckan_extends %}

{% block subtitle %}{{ h.get_localized_value(organization.title) }} {{ g.template_title_delimiter }} {{ h.humanize_entity_type('organization', group_type, 'page title') or _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), named_route='organization.index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for h.get_localized_value(organization.title)|truncate(35), named_route='organization.read', id=organization.name %}</li>
    <li class="active">{% link_for _('Manage'), named_route='organization.edit', id=organization.name %}</li>
  {% endblock %}
{% endblock %}

