{% extends "organization/read_base.html" %}

{% block primary_content_inner %}
    <h1>{{ group_dict.title }}</h1>
    <p>{{ group_dict.description }}</p>

    <div class="search-form">
      <h2>{% trans count=page.item_count %}{{ count }} datasets{% endtrans %}</h2>
    </div>

  {% block packages_list %}
    {% if page.items %}
      {{ h.snippet('snippets/package_list.html', packages=page.items) }}
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ page.pager(q=q) }}
  {% endblock %}
{% endblock %}

{% block organization_facets %}
{% endblock %}
